:root {
  --lightblack: #2b2929;
  --black: #131313;
  --lightgrey: #e4e4e7;
  --orange: #fd624c;
  --darkblue: #0a1a4a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
